/BACKEND/.vs/SDPlusApplicationServer_FakeDatabase/CopilotIndices
/.vs/SDPlusReviewDemoCode/CopilotIndices
/BACKEND/SDPlusApplicationServer_FakeDatabase/bin
/BACKEND/SDPlusApplicationServer_FakeDatabase/obj
/WPF/bin
/WPF/obj
/DOMAIN/obj
